{config_load file="$language/lang_$language.conf" section="articles"} 
 <section class="about-company">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
  <h2 class="title">{$ARTICLE_NAME}</h2>
<hr>
<div class="clearfix"></div> <br>         
{$ARTICLE_DESCRIPTION}
 </div>
 </div></div>
 </section>