{config_load file="$language/lang_$language.conf" section="error_handler"}
    <section class="catalog">
        <div class="container">
          <div class="row">
            <h3 class="title">{$ERROR}</h3>
            
{$FORM_ACTION}
<div class="page">
<div class="pagecontent">
{if $CATEGORIES_NAME}{$CATEGORIES_NAME}<br />{/if}
{if $CATEGORIES_DESCRIPTION}{$CATEGORIES_DESCRIPTION}<br />{/if}
{#text_search_again#}
</div>
</div>

<div class="pagecontentfooter">
{$BUTTON}
</div>
{$FORM_END}

</div>
</div>
</section>