{config_load file="$language/lang_$language.conf" section="faq"} 
 <section class="questions">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <h2 class="title">Вопросы и ответы</h2>
            </div>
          </div>
        </div>
        {foreach name=aussen item=module_data from=$module_content}
        <div class="block-question">
          
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3">
                <p class="autor"> {$module_data.FAQ_NAME1}</p>
              </div>
              <div class="col-xs-12 col-sm-9 col-md-9"><a href="#" class="question">
                  {$module_data.FAQ_QUESTION}</a>
                <div class="clearfix"></div>
                <hr>
              </div>
            </div>
          </div>
         
          
          <div class="block-answer"><a href="#" class="hide-answer"><i class="icon-cross"></i></a>
            <div class="container">
              <div class="row">
                <div class="col-sm-3 col-md-3">
                  <p class="autor">
                    {$module_data.FAQ_NAME2}<span class="post">{$module_data.FAQ_POS}</span>
                  </p>
                </div>
                <div class="col-sm-9 col-md-9"><i class="icon-triangle"></i>
                  <p class="answer">{$module_data.FAQ_ANSWER}
                  </p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
         {/foreach}
      </section>