{config_load file="$language/lang_$language.conf" section="latest_news"}
{config_load file="$language/dom.conf" section="main"}
      <section class="news">
        <div class="container">
          <div class="row"><a href="{$NEWS_LINK}" class="link-all-news">{#head1#}</a>
            <div id="newsSlider" class="owl-carousel owl-theme">
               {foreach name=aussen item=module_data from=$module_content}
              <div class="content"><span class="date-news">{$module_data.NEWS_DATA}</span>
                <div class="clearfix"></div><a href="{$module_data.NEWS_LINK_MORE}" class="link-news">{$module_data.NEWS_HEADING}</a>
              </div>
              {/foreach}
            </div>
          </div>
        </div>
       </section>