{config_load file="$language/lang_$language.conf" section="login"}
{config_load file="$language/dom.conf" section="main"}
<form id="login" method="post" action="/login.php?action=process" name="login">
<section class="am3"><a href="#" class="hide-order" click="onclick="history.back();return false;"><i class="icon-cross"></i></a>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
              <div class="modal">
                <h2 class="title-modal">{#f18#}</h2>
                <form name="form12">
                  <div class="row">
                  {if $info_message!=''}
<div class="contacterror">{$info_message}</div>
{/if}
                    <div class="col-xs-12 col-sm-4 col-50">
                      <label for="name12">{#f21#}</label>
                      <input id="email_address" type="text" name="email_address">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-50">
                      <label for="password">{#f20#}</label>
                      <input id="password" type="password" name="password">
                    </div>
                  </div>
                  <div class="inner-hr">
                    <hr>
                  </div>
                  <button class="order">{#f19#}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>   
</form>      