     <section class="comments">
        <div class="container">
          <div class="row">
            <h3 class="title">Отзывы клиентов</h3>
            <div id="reviewSlider" class="owl-carousel owl-theme">
              {foreach name=aussen item=module_data from=$module_content}
              <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/{$module_data.image}" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">{$module_data.customers_name}</h5>
                    <hr>
                    <p class="comment">{$module_data.reviews_text}</p>
                  </div>
                </div>
              </div>
              {/foreach}

            </div>
          </div>
        </div>
      </section>