{config_load file="$language/lang_$language.conf" section="product_info"}
{config_load file="$language/dom.conf" section="main"}
<input type="hidden" id="price" value="{$PRODUCTS_PRICE_PLAIN}">
<input type="hidden" id="sh" value="{$sh}">
{if $gal}
<!-- modal пфддукн-->
<div class="g-hidden" style="display:none">
<div class="b-modal">

<div id="gallery">
    <div class="b-modal_close arcticmodal-close"></div>
    <div id="slider">
            {foreach name=mo_pic item=val from=$gal}
            <div class="slide">
                <span><img src="{$val}" alt=""></span>
            </div><!--end slide-->
            {/foreach}
         
    </div><!--end slider-->
    
</div>

</div>
</div>
 {/if}
   <section class="order-section"><a href="#" class="hide-order"><i class="icon-cross"></i></a>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
              <div class="modal">
                <h2 class="title-modal">{#text12#}</h2>
                <form id="validateOrder" name="form5">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                      <label for="name">{#text14#}</label>
                      <input id="name" type="text" name="name5">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                      <label for="phone">{#head_mail_t6#}</label>
                      <input id="phone" type="text" name="phone5">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                      <label for="email">{#head_mail_t1#}</label>
                      <input id="email" type="email" name="email5">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <label for="comment">{#text13#}</label>
                      <textarea id="comment" name="comment5"></textarea>
                    </div>
                    <input type="hidden" name="pname" value="{$PRODUCTS_NAME}">
                    <input type="hidden" name="pid" value="{$PRODUCTS_id}">
                    <input type="hidden" name="i1" value="">
                    <input type="hidden" name="i2" value="">
                    <input type="hidden" name="i3" value="">
                    <input type="hidden" name="i4" value="">
                  </div>
                  <div class="inner-hr">
                    <hr>
                  </div>
                  <button class="order">{#text12#}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="order-line" style="display:none">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="block-options">
              <div class="block-option-1">
                <p class="name-product-in-mobile">{#f25#} «{$PRODUCTS_NAME}»</p>
                <p class="name-product">{if $text==14}{#type1#}{/if}{if $text==13}{#type2#}{/if}{if $text==15}{#type3#}{/if}
 <span>«{$PRODUCTS_NAME}»</span></p>
              </div>
              <hr class="line-1">
              <div class="block-option-2">
                <img src="/templates/dom/tpl/images/log.svg" alt="Log" class="icon-log kr1">
                <p class="option kr1 ider1" id="ider1"></p>
                <p class="option kr2 ider1" v="{#f22#}" id="ider1_1"></p>
              </div>
              <hr class="line-2">
              <div class="block-option-3"><img src="/templates/dom/tpl/images/roof.svg" alt="Roof" class="icon-roof kr1">
                <p class="option kr1 ider3" id="ider3"></p>
                <p class="option kr2 ider3" v="{#f23#}" id="ider3_1"></p>
              </div>
              <hr class="line-3">
              <div class="block-option-4"><img src="/templates/dom/tpl/images/fundament.svg" alt="Fundament" class="icon-fundament kr1">
                <p class="option kr1 ider2"  id="ider2"></p>
                <p class="option kr2 ider2" v="{#f24#}" id="ider2_1"></p>
              </div>
            </div>
            
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="block-buttons">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="price"><span>{$PRODUCTS_PRICE}</span></div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <button class="button-order">{#text12#}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     {if $gal} <div class="block-report"><a class="link-report gallery_button">{#text10#}<i class="icon-report"></i></a></div> {/if}
      <section class="card">
        <div class="container">
          <div class="header-card">
            <h3 class="name-product">{$PRODUCTS_NAME}{if $sh}, {$sh} м&sup2{/if}</h3>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-sm-push-3">
                <div class="block-price"><span class="price">{$PRODUCTS_PRICE}</span></div>
                <p class="price-for-meter">{if $ppr}≈ {$ppr} Р за м&sup2{/if}</p>
              </div>
              {if $PRODUCTS_PRICE0}
              <div class="col-xs-6 col-sm-3 col-sm-pull-6">
                <p class="old-price">{#text9#} <span>{$PRODUCTS_PRICE0}</span></p>
              </div>{/if}
              {if $PRODUCTS_ECOM}
              <div class="col-xs-6 col-sm-3 col-md-3">
                <p class="savings">{#text11#}<span>{$PRODUCTS_ECOM}</span></p>
              </div>     {/if}
            </div>
          </div>
        </div>
        <div class="catalog-slider">
          <div id="catalogSlider" class="owl-carousel owl-theme">
          {php}$i=1;{/php}
		  
		  {php}
				    if (  count($this->get_template_vars('mo_img')) < 3 )
                     {					
				 {/php}
				 
             {foreach name=mo_pic item=img_values from=$mo_img}
                <div v="{php}echo $i;{/php}" class="content"><img src="{$img_values.PRODUCTS_MO_POPUP_IMAGE}" class="big-img resp"></div>
                {php}$i++;{/php} 
           {/foreach} 
		   
		   <div v="{php}echo $i;$i++;{/php}" class="content"><img src="{$PRODUCTS_IMAGE}" class="big-img resp"></div>
		    {php}}else {{/php}
			             {foreach name=mo_pic item=img_values from=$mo_img}
                {php}if ($i ==3){{/php}
                <div v="{php}echo $i;$i++;{/php}" class="content"><img src="{$PRODUCTS_IMAGE}" class="big-img resp"></div>
                <div v="{php}echo $i;{/php}" class="content"><img src="{$img_values.PRODUCTS_MO_POPUP_IMAGE}" class="big-img resp"></div>
                {php}}else {{/php}
                 <div v="{php}echo $i;{/php}" class="content"><img src="{$img_values.PRODUCTS_MO_POPUP_IMAGE}" class="big-img resp"></div>  
                 {php}}{/php} 
                 {php}$i++;{/php} 
           {/foreach} 
			
			{php}}{/php}
           
          </div>
          <div class="container">
            <div class="row ak">
                
                 {php}$i=1;{/php}
				
				 {php}
				    if (  count($this->get_template_vars('mo_img')) < 3 )
                     {					
				 {/php}
				 
				  {foreach name=mo_pic item=img_values from=$mo_img}

                 <div class="col-xs-2 col-sm-2 col-qd-2"><a v="{php}echo $i;{/php}" class="link-slider"><img src="{$img_values.PRODUCTS_MO_IMAGE}" alt="Product" class="big-img resp"></a></div>
                  {php}$i++;{/php} 
                {/foreach}
				<div class="col-xs-2 col-sm-2 col-qd-2"><a v="{php}echo $i;{/php}" class="link-slider"><img src="{$PRODUCTS_IMAGE}" alt="Product" class="big-img resp"></a></div>
				
				
				 {php}}else {{/php}
                 {foreach name=mo_pic item=img_values from=$mo_img}
				 
                 {php}if ($i ==3){{/php}
                 <div class="col-xs-2 col-sm-2 col-qd-2"><a v="{php}echo $i;$i++;{/php}" class="link-slider"><img src="{$PRODUCTS_IMAGE}" alt="Product" class="big-img resp"></a></div>
                 <div class="col-xs-2 col-sm-2 col-qd-2"><a v="{php}echo $i;{/php}" class="link-slider"><img src="{$img_values.PRODUCTS_MO_IMAGE}" alt="Product" class="big-img resp"></a></div>
                 {php}}else {{/php}
                 <div class="col-xs-2 col-sm-2 col-qd-2"><a v="{php}echo $i;{/php}" class="link-slider"><img src="{$img_values.PRODUCTS_MO_IMAGE}" alt="Product" class="big-img resp"></a></div>
                  {php}}{/php}
                  {php}$i++;{/php} 
                {/foreach}
				{php}}{/php}
    <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="catalog-options">
          <div class="container">
            <div class="row">
              {$MODULE_product_options}
            </div>
          </div>
        </div>
        <div class="catalog-tabs">
          <div class="layout-tabs"></div>
          <div class="container">
            <div class="row">
              <div id="tabsCard" class="tabs">
                <ul class="tabs-list">
                  <li class="active"><a href="#tab-1" class="active">{#text6#}</a></li>
                  <li><a href="#tab-2">{#text7#}</a></li>
                  {if $PRODUCTS_DESCRIPTION}
                  <li><a href="#tab-3">{#text8#}</a></li>{/if}
                </ul>
                
                <div id="tab-1" class="tabs-content">
               
                  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                    <ul class="list-fundamments">
                      
                      <div id="alka1" class="alka">
                      <hr>
                      {foreach item=val from=$ch1}
                      <li>{$val}</li>
                      {/foreach}
                      </div>                      
                      
                      <div id="alka2" class="alka" style="display:none">
                      <hr>
                      {foreach item=val from=$ch2}
                      <li>{$val}</li>
                      {/foreach}
                      </div>                      
                      
                      <div id="alka3" class="alka" style="display:none">
                      <hr>
                      {foreach item=val from=$ch3}
                      <li>{$val}</li>
                      {/foreach}
                      </div>
                      
                    </ul>
                  </div>
                  
                </div>

                <div id="tab-2" class="tabs-content" style="display:none">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                    <p>{$mt}</p>
                  </div>
                </div>
               
                {if $PRODUCTS_DESCRIPTION}
                <div id="tab-3" class="tabs-content" style="display:none">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                    <p>{$PRODUCTS_DESCRIPTION}</p>
                  </div>
                </div>
                {/if}
              </div>
            </div>
          </div>
        </div>
      </section>
            {if $perf}
      <section class="features">
        <div class="container">
          <div class="row">
            <h3 class="title">{#text3#}</h3>
            <div class="list-features">
              <div class="row">
              
                         {php}$i=0;{/php}                     
           {foreach name=aussen item=module_data from=$perf}
                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="{php}echo $i;{/php}">{$module_data.slider_text1}</span></div>
                {php}$i++; if ($i % 2 == 0){{/php}
                   <div class="clearfix"></div>
                {php}}{/php}
                {/foreach}
              </div>
            </div>
          </div>
        </div>
      </section>{/if}
         {if $file_text}  
      <section class="development">
        <div class="container">
          <div class="row">
            <div class="block-development">
              <p class="descr">
                {$con10}

              </p>
              <button type="button" class="link-dev">{#text4#}</button>
            </div>
          </div>
        </div>     
      </section>
      {/if}
      
      <section class="questions">
        <div class="container">
          <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h3 class="title">{#text5#}</h3>
            <div class="row">
              <form action="#" name="form4">
                <div class="col-xs-6 col-sm-4 col-md-4">
                  <input type="text" placeholder="{#head_mail_t5#}" name="name4">
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                  <input type="text" placeholder="{#head_mail_t6#}" name="phone4">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <input type="submit" value="{#file_button#}" class="send">
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>